---
---

@import "{{ site.theme }}";

@mixin large {
    @media screen and (min-width: #{$large-breakpoint}) {
      @content;
    }
  }
  
  @mixin medium {
    @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
      @content;
    }
  }
  
  @mixin small {
    @media screen and (max-width: #{$medium-breakpoint}) {
      @content;
    }
  }
  
  /* Custom adjustments */
  .main-content {
    /* Adjusting max-width for large screens */
    @media screen and (min-width: 1200px) {
      max-width: 800px;
      margin: 0 auto;
      padding: 2rem;  /* Increased padding for large screens */
    }
  
    /* Optionally, you can add a max-width for medium screens */
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      max-width: 800px;
      margin: 0 auto;
      padding: 1rem;  /* Default padding for medium screens */
    }
  
    /* For small screens */
    @media screen and (max-width: 767px) {
      padding: 0.5rem;  /* Smaller padding for small screens */
    }
  }
  
  
.project-name,
.project-tagline {
  text-align: center;
}

/* Centering buttons */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
